header.profile {
  background-color: #f52f57;
  background-image: url("https://www.transparenttextures.com/patterns/rice-paper-2.png");
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  font-weight: 300;
}

header.profile .profile-img, header .profile-name {
  display: flex;
  justify-content: center;
}

header h2 {
  font-weight: 300;
}

header h2 strong {
  font-weight: 600;
}

/*hides call-to-action button in header when not on mobile*/
#c-t-a-header {
  display: none;
}