@media only screen and (min-width: 1024px) {
  /* Laptop/Desktop screen sizes and beyond styling */

  #tweeter-content {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
    margin: 0 2.5% 0 2.5%;
    padding-top: 200px;
  }

  main, header.profile {
    margin: 0;
    margin-top: 20px;
  }

  header.profile {
    width: 30%;
  }
  main.container{
    width: 65%;
    margin: 0;
  }
}


@media only screen and (max-width: 420px) {
/* Mobile Styling */
  nav {
    height: 50px;
  }

  nav .logo {
    font-size: 1em;
  }

  /* hides "Write a new tweet" in nav bar to save space */

  #c-t-a-nav {
    display: none;
  }

  header.profile {
    height: 200px; 
    flex-direction: row;
    justify-content: space-around;
  } 

  header.profile .profile-img{
    width: 30%;
    padding: 1em 0 1em 1em;
  }

  header .profile-name{
    display: flex;
    flex-direction: column;
  }

  /* Moves "Write a new tweet" to header, which has more space, to retain it's functionality on mobile */
  
  #c-t-a-header {
    display: flex;
  }
  
  .c-t-a-chevron {
    color: white;
    -webkit-text-stroke: .5px;
  }

 #tweeter-content {
    padding-top: 50px;
  }
}

